<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.davidjweber.camscram</string>
	<key>UIAppFonts</key>
	<array>
		<string>Furore.otf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>CFBundleIconFiles</key>
	<array>
		<string>camscram_57.png</string>
		<string>camscram_114.png</string>
		<string>camscram_144.png</string>
		<string>camscram_72.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>UIPrerenderedIcon</key>
			<true/>
			<key>CFBundleIconFiles</key>
			<array>
				<string>camscram_57.png</string>
				<string>camscram_114.png</string>
				<string>camscram_144.png</string>
				<string>camscram_72.png</string>
			</array>
		</dict>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
